.videoSearchArea{
    width: 1200px;
    margin: 0 auto;
    min-height: 200px;
    position: relative;
    justify-content: center;
    background-color: white;
    z-index: 1;
    margin-top: 5%;
}

.DefaultArea {
    width: 1200px;
    display: flex;
}

.searchResultArea{
    width: 1200px;
    display: flex;
}

.videoPlayer {
    position: relative;
    height: 100vh;
}

.videoPlayer iframe {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

